.height-120 {
    height: 90px;
}
.card-faculty {
    width: 250px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.card-title {
    font-weight: 500 !important;
}
.icon-more {
    margin-left: 180px;
    /*margin-top: 10px;*/
}
